h1,h2, li{
  text-align: center;
  color: #fff;
  font-weight: bold;
}

li{
  background-color: #a0a0a0;
  border-radius: 10px;
  margin-bottom: 30px;
}

input{
  align-items: center;
}

div{
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  margin: 0 auto;
}

input{
  height: 20px;
  margin: 20px 0;
}

button{
  background-color: #1e1e1e;
  color: white;
  border-radius: 10px;
  padding: 2px 10px;
}
body{
  background-color: #be6969;
}